services:
  app:
    image: opentaproject/openta-public:latest
    container_name: openta-se-app
    pull_policy: always
    environment:
      TZ: Europe/Stockholm
      USE_OTP: "False"
      USE_URKUND: "False"
      PGHOST: db
      DB_HOST: db
      POSTGRES_DEFAULT_DB: ${POSTGRES_DEFAULT_DB}
      MEMCACHEDLOCATION: memcached:11211
      DBHOST: db
      OPENTA_SERVER: localhost
      DEBUG: "True"
      USE_ACCEL_REDIRECT: "False"
      USE_SIDECAR: "False"
      DEBUG_PLUS: "False"
      HANDLER_500: "True"
      ENABLE_AUTO_TRANSLATE: "False"
      SUPERUSER_PASSWORD: ${SUPERUSER_PASSWORD}
      PGPASSWORD: ${PGPASSWORD}
      PGUSER: ${PGUSER}
      SECRET_KEY: ${SECRET_KEY}
      USE_EMAIL: "False"
      DJANGO_SECRETS_FILE: ${DJANGO_SECRETS_FILE}
      NOT_REDIS_HOST: redis-service
      REDIS_HOST: redis
      USE_TZ: "True"
      USE_GMAIL: "True"
      HTTP_PROTOCOL: http
      HTTP_SERVER_PORT: "8000"
      DO_CACHE: "True"
      TARGET_WINDOW: openta
      USE_LOCMEM: "True"
    volumes:
      - /subdomain-data:/subdomain-data
      - deploystatic:/deploystatic
    ports:
      - "8000:8000"
    command:
      - "/bin/bash"
      - "-c"
      - |
          rm -f /subdomain-data/postgres/openta.se-error; \
          echo "http.server is working on port 8000" > index.html; \
          export ADMINURL=`uuid`/; \
          echo "Waiting for memcached...";
          until nc -z memcached 11211; do sleep 1; done;
          echo "Memcached is up";
          ln -s   /srv/openta/django/backend/supervisord_kub_combined.conf  /srv/openta/django/backend/supervisord.conf;
          /usr/local/bin/supervisord -c /srv/openta/django/backend/supervisord.conf;
          #python manage.py runserver 0.0.0.0:8000;
    depends_on:
      - memcached
      - redis
      - db
    restart: unless-stopped

  memcached:
    image: memcached:latest
    container_name: memcached
    pull_policy: always
    expose:
      - "11211"
    #healthcheck:
    #  test: ["CMD", "bash", "-c", "echo stats | nc localhost 11211"]
    #  interval: 5s
    #  timeout: 2s
    #  retries: 10
    restart: unless-stopped

  redis:
    image: redis:7.0.4
    container_name: redis
    pull_policy: always
    command: ["--appendonly", "yes"]
    expose:
      - "6379"
    restart: unless-stopped

  db:
    image: postgres:14
    container_name: postgres14
    environment:
      POSTGRES_DB: ${POSTGRES_DEFAULT_DB}
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      PGDATA: "/subdomain-data/db14"
    volumes:
      - /subdomain-data:/subdomain-data
    restart: unless-stopped

volumes:
  deploystatic: {}

