apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: {{SUBPATH}}
  name: {{SUBPATH}}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{SUBPATH}}
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: {{SUBPATH}}
        name: {{SUBPATH}}
    spec:
      containers:
        - name: web
          args:
            - gunicorn
            - backend.wsgi:application
            - --bind
            - 0.0.0.0:8000
            - --env
            - DJANGO_SETTINGS_MODULE=backend.settings_production_kubernetes
          env:
          - name: VERSION_TAG
            value: {{VERSION_TAG}}
          - name: WEB_CONCURRENCY
            value: "10"
          - name: OPENTA_SUBPATH
            value: "{{SUBPATH}}"
          - name: OPENTA_VERSION
            value: "{{VERSION}}"
          - name: SERVER_INFO_KEY
            value: "{{SERVER_INFO_KEY}}"
          image: {{DOCKERREPOSITORY}}/openta:{{VERSION_TAG}}
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - mountPath: /srv/openta/django/backend/media
            name: site-data
            subPath: media
          - mountPath: /srv/openta/exercises
            name: site-data
            subPath: exercises
          workingDir: /srv/openta/django/backend/
          resources:
            requests:
              cpu: "0.05"
              memory: "700Mi"

        - image: postgres:9.5.3
          name: db
          volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: site-data
            subPath: database
          resources:
            requests:
              cpu: "0.05"
              memory: "256Mi"

        - image: {{DOCKERREPOSITORY}}/nginx:{{VERSION_TAG}}
          imagePullPolicy: IfNotPresent
          name: nginx
          command: ["/bin/sh"]
          args: ["-c", "envsubst '$OPENTA_SUBPATH $USE_SSL' < /etc/nginx/conf.d/default.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"]
          env:
          - name: OPENTA_SUBPATH
            value: "/{{SUBPATH}}"
          - name: USE_SSL
            value: "{{OPENTA_USE_SSL}}"
          ports:
          - containerPort: 8080
          volumeMounts:
          - mountPath: /srv/openta/django/backend/media
            name: site-data
            subPath: media
          - mountPath: /srv/openta/exercises
            name: site-data
            subPath: exercises
          resources:
            requests:
              cpu: "0.05"
              memory: "128Mi"

        - image: redis:3.2.0
          name: redis
          volumeMounts:
          - mountPath: /data
            name: site-data
            subPath: redis
          resources:
            requests:
              cpu: "0.05"
              memory: "128Mi"

        - name: rqworker
          args:
            - python
            - manage.py
            - rqworker
          env:
          - name: VERSION_TAG
            value: {{VERSION_TAG}}
          image: {{DOCKERREPOSITORY}}/openta:{{VERSION_TAG}}
          imagePullPolicy: IfNotPresent
          volumeMounts:
          - mountPath: /srv/openta/django/backend/media
            name: site-data
            subPath: media
          workingDir: /srv/openta/django/backend/
          resources:
            requests:
              cpu: "0.05"
              memory: "128Mi"
      imagePullSecrets:
        - name: dockerkey
      restartPolicy: Always
      volumes:
      - name: site-data
        persistentVolumeClaim:
          claimName: {{SUBPATH}}-data
status: {}
