.CodeMirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: 0.3;
  cursor: pointer;
}
.CodeMirror-foldgutter {
  width: 0.7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: '\25BE';
}
.CodeMirror-foldgutter-folded:after {
  content: '\25B8';
}

.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}

/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {
}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker {
  color: black;
}
.CodeMirror-guttermarker-subtle {
  color: #999;
}

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@-webkit-keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}
@keyframes blink {
  0% {
  }
  50% {
    background-color: transparent;
  }
  100% {
  }
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {
  color: blue;
}
.cm-s-default .cm-quote {
  color: #090;
}
.cm-negative {
  color: #d44;
}
.cm-positive {
  color: #292;
}
.cm-header,
.cm-strong {
  font-weight: bold;
}
.cm-em {
  font-style: italic;
}
.cm-link {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}
.cm-s-default .cm-atom {
  color: #219;
}
.cm-s-default .cm-number {
  color: #164;
}
.cm-s-default .cm-def {
  color: #00f;
}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {
}
.cm-s-default .cm-variable-2 {
  color: #05a;
}
.cm-s-default .cm-variable-3,
.cm-s-default .cm-type {
  color: #085;
}
.cm-s-default .cm-comment {
  color: #a50;
}
.cm-s-default .cm-string {
  color: #a11;
}
.cm-s-default .cm-string-2 {
  color: #f50;
}
.cm-s-default .cm-meta {
  color: #555;
}
.cm-s-default .cm-qualifier {
  color: #555;
}
.cm-s-default .cm-builtin {
  color: #30a;
}
.cm-s-default .cm-bracket {
  color: #997;
}
.cm-s-default .cm-tag {
  color: #170;
}
.cm-s-default .cm-attribute {
  color: #00c;
}
.cm-s-default .cm-hr {
  color: #999;
}
.cm-s-default .cm-link {
  color: #00c;
}

.cm-s-default .cm-error {
  color: #f00;
}
.cm-invalidchar {
  color: #f00;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}
.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}
.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}
.CodeMirror-crosshair {
  cursor: crosshair;
}
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: '';
}

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext {
  background: none;
}

/*

    Name:       Paraíso (Light)
    Author:     Jan T. Sott

    Color scheme by Jan T. Sott (https://github.com/idleberg/Paraiso-CodeMirror)
    Inspired by the art of Rubens LP (http://www.rubenslp.com.br)

*/

.cm-s-paraiso-light.CodeMirror {
  background: #e7e9db;
  color: #41323f;
}
.cm-s-paraiso-light div.CodeMirror-selected {
  background: #b9b6b0;
}
.cm-s-paraiso-light .CodeMirror-line::selection,
.cm-s-paraiso-light .CodeMirror-line > span::selection,
.cm-s-paraiso-light .CodeMirror-line > span > span::selection {
  background: #b9b6b0;
}
.cm-s-paraiso-light .CodeMirror-line::-moz-selection,
.cm-s-paraiso-light .CodeMirror-line > span::-moz-selection,
.cm-s-paraiso-light .CodeMirror-line > span > span::-moz-selection {
  background: #b9b6b0;
}
.cm-s-paraiso-light .CodeMirror-gutters {
  background: #e7e9db;
  border-right: 0px;
}
.cm-s-paraiso-light .CodeMirror-guttermarker {
  color: black;
}
.cm-s-paraiso-light .CodeMirror-guttermarker-subtle {
  color: #8d8687;
}
.cm-s-paraiso-light .CodeMirror-linenumber {
  color: #8d8687;
}
.cm-s-paraiso-light .CodeMirror-cursor {
  border-left: 1px solid #776e71;
}

.cm-s-paraiso-light span.cm-comment {
  color: #e96ba8;
}
.cm-s-paraiso-light span.cm-atom {
  color: #815ba4;
}
.cm-s-paraiso-light span.cm-number {
  color: #815ba4;
}

.cm-s-paraiso-light span.cm-property,
.cm-s-paraiso-light span.cm-attribute {
  color: #48b685;
}
.cm-s-paraiso-light span.cm-keyword {
  color: #ef6155;
}
.cm-s-paraiso-light span.cm-string {
  color: #fec418;
}

.cm-s-paraiso-light span.cm-variable {
  color: #48b685;
}
.cm-s-paraiso-light span.cm-variable-2 {
  color: #06b6ef;
}
.cm-s-paraiso-light span.cm-def {
  color: #f99b15;
}
.cm-s-paraiso-light span.cm-bracket {
  color: #41323f;
}
.cm-s-paraiso-light span.cm-tag {
  color: #ef6155;
}
.cm-s-paraiso-light span.cm-link {
  color: #815ba4;
}
.cm-s-paraiso-light span.cm-error {
  background: #ef6155;
  color: #776e71;
}

.cm-s-paraiso-light .CodeMirror-activeline-background {
  background: #cfd1c4;
}
.cm-s-paraiso-light .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

html {
  overflow-y: scroll;
}

.CodeMirror {
  height: 80vh;
}

.options {
  height: 100vh;
  width: 100%;
}

.exercise-menu {
  border-right: 1px solid #929292;
}

.border-top {
  border-top: 0px solid #929292;
}

.border-bottom {
  border-bottom: 1px solid #929292;
}

table.exercise_item {
  table-layout: fixed;
  border: 0px solid black;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
}
th,
td.column_date {
  width: 15%;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_date_main {
  width: 15%;
  text-align: left;
  text-overflow: ellipsis;
  border: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_date_due {
  width: 15%;
  text-align: center;
  border: 0px solid black;
  padding: 5px 5px 5px 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.no_data {
  width: 65%;
  text-align: left;
  border: 0px solid black;
  padding: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_name {
  width: 30%;
  text-align: left;
  border: 0px solid black;
  padding: 0px 0px 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_name_head {
  width: 30%;
  padding: 5px 5px 5px 30px;
  text-align: left;
  border: 0px solid black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_check {
  text-align: center;
  border: 0px solid black;
  width: 5%;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_check_main {
  text-align: center;
  border: 1px solid black;
  width: 5%;
  white-space: nowrap;
  overflow: hidden;
}

td.column_check_main:hover {
  background-color: #dcdcdc;
}

button.gold {
  background-color: #eeab44;
  color: #ffffff;
}

button.unpublished {
  background-color: pink;
  color: #000000;
}

button.blue {
  background-color: #4ba5e3;
  color: #ffffff;
}

button.green {
  background-color: #9ac54a;
  color: #ffffff;
}

td.column_date_main:hover {
  background-color: #dcdcdc;
}

i.padright {
  padding: 0px 5px 0px 0px;
}

th,
td.column_date_plus {
  text-align: left;
  border: 0px solid black;
  width: 20%;
  padding: 5px 5px 5px 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th,
td.column_date_center {
  text-align: left;
  border: 0px solid black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 15%;
}

.footer {
  position: fixed;
  background-color: #faf0f0;
  bottom: 0;
  z-index: 999;
}

.myheader {
  background-color: #f0f0fa;
  z-index: 999;
}
.pix30 {
  height: auto;
}

/*@media (min-width: 960px) {
  @include layout(0.1, 0.33);
}*/
@media (max-width: 480px) {
  .exercise-list-on-canvas {
    display: none;
  }

  .exercise-list {
    max-width: 300px;
    padding: 0;
    box-sizing: border-box;
  }

  .exercise {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
  }

  .exercise-spacing {
    width: 0%;
    padding: 0;
    box-sizing: border-box;
  }

  .admin {
    width: 100%;
    box-sizing: border-box;
  }

  .exercise-admin {
    width: 100%;
    box-sizing: border-box;
  }

  .xmleditor {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .exercise-list-off-canvas-old {
    display: none;
  }

  .exercise-list {
    max-width: 300px;
    padding: 0;
    box-sizing: border-box;
  }

  .exercise {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
  }

  .exercise-spacing {
    width: -0.01%;
    padding: 0;
    box-sizing: border-box;
  }

  .admin {
    width: 100%;
    box-sizing: border-box;
  }

  .exercise-admin {
    width: 100%;
    box-sizing: border-box;
  }

  .xmleditor {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .exercise-list-off-canvas-old {
    display: none;
  }

  .exercise-list {
    max-width: 300px;
    padding: 0;
    box-sizing: border-box;
  }

  .exercise {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
  }

  .exercise-spacing {
    width: -0.01%;
    padding: 0;
    box-sizing: border-box;
  }

  .admin {
    width: 100%;
    box-sizing: border-box;
  }

  .exercise-admin {
    width: 100%;
    box-sizing: border-box;
  }

  .xmleditor {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 960px) {
  .exercise-list-off-canvas-old {
    display: none;
  }

  .exercise-list {
    max-width: 300px;
    padding: 0;
    box-sizing: border-box;
  }

  .exercise {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
  }

  .exercise-spacing {
    width: -0.01%;
    padding: 0;
    box-sizing: border-box;
  }

  .admin {
    width: 100%;
    box-sizing: border-box;
  }

  .exercise-admin {
    /*width: round(percentage($exercise / (1-$exerciselist)));*/
    width: 50%;
    box-sizing: border-box;
  }

  .xmleditor {
    /*width: round(percentage(1 - $exercise / (1-$exerciselist)));*/
    width: 50%;
    box-sizing: border-box;
  }
}
.ta-nav {
  background-color: #eeeeee;
}

.exercise-list-thumb-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 1em;
  left: 0;
  top: 0;
}

.exercise-thumb-wrap {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
}

.exercise-thumb-nav {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  max-width: 100px;
}

.exercise-thumb-badge {
  position: relative;
  width: 100%;
  text-align: left;
}

.exercise-thumb-nav-caption {
  max-width: 100px;
}

.exercise-thumb-correct {
  background-color: #00ff00;
}

.exercise-unpublished {
  background-color: #fdf1f0;
}

.exercise-complete_by_deadline {
  border-color: #00ff00;
  border-width: medium;
}

.exercise-ungraded {
  border-color: lightblue;
  border-width: medium;
}

.exercise-all_complete {
  border-color: gold;
  border-width: medium;
}

.exercise-incomplete {
  border-color: red;
}

.exercise-a {
  text-align: center;
}

.results-table {
  box-sizing: border-box;
}

.results-filters {
  max-width: 200px;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.CodeMirror-dialog {
  position: absolute;
  left: 0;
  right: 0;
  background: inherit;
  z-index: 15;
  padding: 0.1em 0.8em;
  overflow: hidden;
  color: inherit;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

.hijacked-warning {
  background-size: 25px 25px;
  background-color: #ffe761;
  color: #000;
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.04) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.04) 50%,
    rgba(0, 0, 0, 0.04) 75%,
    transparent 75%,
    transparent
  );
  background-image: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.04) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.04) 50%,
    rgba(0, 0, 0, 0.04) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.04) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.04) 50%,
    rgba(0, 0, 0, 0.04) 75%,
    transparent 75%,
    transparent
  );
}

.hijacked-warning-default {
  z-index: 1000000;
  font-weight: 600;
  text-align: center;
  position: fixed;
  min-height: 10px;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 5px 7px;
  border-bottom: 2px solid #ae9e49;
  font-size: 12px;
  font-family: sans-serif;
}
#hijacked-warning-wrapper::after {
  height: 50px;
  content: '';
  display: block;
}

.hijacked-warning-bootstrap {
  margin-bottom: 0;
}

.django-hijack-button-default {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.django-hijack-button-default:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}
.django-hijack-button-default:active {
  position: relative;
  top: 1px;
}

.hijacked-warning-controls-pull-right {
  float: right;
  margin-right: 15px;
}

.hijacked-warning-controls,
.hijacked-warning-controls form {
  display: inline;
}

.cm-s-rubyblue.CodeMirror {
  background: #112435;
  color: white;
}
.cm-s-rubyblue div.CodeMirror-selected {
  background: #38566f;
}
.cm-s-rubyblue .CodeMirror-line::selection,
.cm-s-rubyblue .CodeMirror-line > span::selection,
.cm-s-rubyblue .CodeMirror-line > span > span::selection {
  background: rgba(56, 86, 111, 0.99);
}
.cm-s-rubyblue .CodeMirror-line::-moz-selection,
.cm-s-rubyblue .CodeMirror-line > span::-moz-selection,
.cm-s-rubyblue .CodeMirror-line > span > span::-moz-selection {
  background: rgba(56, 86, 111, 0.99);
}
.cm-s-rubyblue .CodeMirror-gutters {
  background: #1f4661;
  border-right: 7px solid #3e7087;
}
.cm-s-rubyblue .CodeMirror-guttermarker {
  color: white;
}
.cm-s-rubyblue .CodeMirror-guttermarker-subtle {
  color: #3e7087;
}
.cm-s-rubyblue .CodeMirror-linenumber {
  color: white;
}
.cm-s-rubyblue .CodeMirror-cursor {
  border-left: 1px solid white;
}

.cm-s-rubyblue span.cm-comment {
  color: #999;
  font-style: italic;
  line-height: 1em;
}
.cm-s-rubyblue span.cm-atom {
  color: #f4c20b;
}
.cm-s-rubyblue span.cm-number,
.cm-s-rubyblue span.cm-attribute {
  color: #82c6e0;
}
.cm-s-rubyblue span.cm-keyword {
  color: #f0f;
}
.cm-s-rubyblue span.cm-string {
  color: #f08047;
}
.cm-s-rubyblue span.cm-meta {
  color: #f0f;
}
.cm-s-rubyblue span.cm-variable-2,
.cm-s-rubyblue span.cm-tag {
  color: #7bd827;
}
.cm-s-rubyblue span.cm-variable-3,
.cm-s-rubyblue span.cm-def,
.cm-s-rubyblue span.cm-type {
  color: white;
}
.cm-s-rubyblue span.cm-bracket {
  color: #f0f;
}
.cm-s-rubyblue span.cm-link {
  color: #f4c20b;
}
.cm-s-rubyblue span.CodeMirror-matchingbracket {
  color: #f0f !important;
}
.cm-s-rubyblue span.cm-builtin,
.cm-s-rubyblue span.cm-special {
  color: #ff9d00;
}
.cm-s-rubyblue span.cm-error {
  color: #af2018;
}

.cm-s-rubyblue .CodeMirror-activeline-background {
  background: #173047;
}

/*# sourceMappingURL=app.css.map*/
