.CodeMirror {
  height: 80vh; }

.options {
  height: 100vh;
  width: 100%; }

.exercise-menu {
  border-right: 1px solid #929292; }

.border-top {
  border-top: 1px solid #929292; }

.border-bottom {
  border-bottom: 1px solid #929292; }

/*@media (min-width: 960px) {
  @include layout(0.1, 0.33);
}*/
@media (max-width: 480px) {
  .exercise-list-on-canvas {
    display: none; }

  .exercise-list {
    width: 0%;
    max-width: 200px;
    padding: 0;
    box-sizing: border-box; }

  .exercise {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box; }

  .exercise-spacing {
    width: 0%;
    padding: 0;
    box-sizing: border-box; }

  .admin {
    width: 100%;
    box-sizing: border-box; }

  .exercise-admin {
    width: 100%;
    box-sizing: border-box; }

  .xmleditor {
    width: 100%;
    box-sizing: border-box; } }
@media (min-width: 480px) and (max-width: 768px) {
  .exercise-list-off-canvas {
    display: none; }

  .exercise-list {
    width: 20%;
    max-width: 200px;
    padding: 0;
    box-sizing: border-box; }

  .exercise {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box; }

  .exercise-spacing {
    width: -0.01%;
    padding: 0;
    box-sizing: border-box; }

  .admin {
    width: 80%;
    box-sizing: border-box; }

  .exercise-admin {
    width: 100%;
    box-sizing: border-box; }

  .xmleditor {
    width: 100%;
    box-sizing: border-box; } }
@media (min-width: 768px) and (max-width: 960px) {
  .exercise-list-off-canvas {
    display: none; }

  .exercise-list {
    width: 20%;
    max-width: 200px;
    padding: 0;
    box-sizing: border-box; }

  .exercise {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box; }

  .exercise-spacing {
    width: -0.01%;
    padding: 0;
    box-sizing: border-box; }

  .admin {
    width: 80%;
    box-sizing: border-box; }

  .exercise-admin {
    width: 100%;
    box-sizing: border-box; }

  .xmleditor {
    width: 100%;
    box-sizing: border-box; } }
@media (min-width: 960px) {
  .exercise-list-off-canvas {
    display: none; }

  .exercise-list {
    width: 20%;
    max-width: 200px;
    padding: 0;
    box-sizing: border-box; }

  .exercise {
    width: 80%;
    max-width: 800px;
    box-sizing: border-box; }

  .exercise-spacing {
    width: -0.01%;
    padding: 0;
    box-sizing: border-box; }

  .admin {
    width: 80%;
    box-sizing: border-box; }

  .exercise-admin {
    /*width: round(percentage($exercise / (1-$exerciselist)));*/
    width: 50%;
    box-sizing: border-box; }

  .xmleditor {
    /*width: round(percentage(1 - $exercise / (1-$exerciselist)));*/
    width: 50%;
    box-sizing: border-box; } }
.ta-nav {
  background-color: #eeeeee; }

.exercise-list-thumb-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 0;
  top: 0; }

.exercise-thumb-wrap {
  display: inline-block;
  position: relative;
  left: 0;
  top: 0; }

.exercise-thumb-nav {
  position: relative;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  height: 80px;
  max-width: 100px; }

.exercise-thumb-badge {
  position: absolute;
  left: -15%;
  top: -15%; }

.exercise-thumb-nav-caption {
  max-width: 100px; }

.exercise-thumb-correct {
  background-color: #00FF00; }

.exercise-unpublished {
  background-color: #f8c57a; }
