{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div id="content" class="uk-vertical-align uk-text-center">
<div class="uk-vertical-align-middle uk-container-center">

  {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" class="uk-form" action="{% url 'login' %}">
{% csrf_token %}
    <legend><i class="uk-icon uk-icon-medium uk-icon-circle-o"></i><span class="uk-text-small uk-text-middle"> OpenTA</span></legend>
    <div class="uk-form-row">
      {% render_field form.username placeholder=form.username.label %}
    </div>
    <div class="uk-form-row">
      {% render_field form.password placeholder=form.password.label %}
    </div>

    <div class="uk-form-row">
      <input type="submit" class="uk-button" value="login" />
    </div>
<input type="hidden" name="next" value="/" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
</div>
</div>

{% endblock %}
