{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block content %}

<div id="content" class="uk-vertical-align uk-text-center">
<div class="uk-vertical-align-middle uk-container-center">

{% if course.icon %}
  <div class="uk-position-top uk-margin-top" >
      <img class="uk-width-1-1 uk-width-large-1-5" src="{{ course.icon }}"/>
  </div>
{% endif %}

{% if form.errors %}
<div class="uk-alert uk-alert-danger">
  {% if '@' in form.username.value %}
    {% trans 'Your username is probably the part before the @ sign' %}
  {% else %}
    {% trans 'Login failed' %}
  {% endif %}
</div>
{% endif %}
{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="uk-alert uk-alert-success">{{ message }}</div>
  {% else %}
    <div class="uk-alert">{{ message }}</div>
  {% endif %}
  {% endfor %}
{% endif %}

<form method="post" class="uk-form" action="{% url 'login' %}">
{% csrf_token %}
<legend><i class="uk-icon uk-icon-medium uk-icon-circle-o uk-text-primary"></i><span class="uk-text-small uk-text-middle"> {{ course.course_name }} </span></legend>
{% if course.motd %}
  <p class="uk-ikon uk-icon-info uk-text uk-text-primary uk-padding-large">
      {{course.motd}}
  </p>
{% endif %}
    <div class="uk-form-row">
      {% render_field form.username placeholder=form.username.label %}
      </div>
    <div class="uk-form-row">
      {% render_field form.password placeholder=form.password.label %}
    </div>

    <div class="uk-form-row">
      <input type="submit" class="uk-button" value="{% trans "Log in" %}" />
    </div>
    <input type="hidden" name="next" value="{{subpath}}{{ course.pk }}" />
</form>

{% if course.registration_by_domain %}
<a href="{% url 'register-with-domain' course_pk=course.pk %}" class="uk-button uk-button-mini uk-margin-small-bottom">{% trans "Register by email" %}</a>
{% endif %}
<a class="uk-button uk-button-mini uk-margin-small-bottom" href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a>

{% if course.registration_by_password %}
<a href="{% url 'register-with-password' %}" class="uk-button uk-button-mini uk-margin-small-bottom">{% trans "Register" %}</a>
{% endif %}
{% if True %}
<a class="uk-button uk-button-mini uk-margin-small-bottom" href="mailto:{{course.email_reply_to}}">{% trans "Problem?" %}</a>


{% endif %}

<div style="position: relative">
<div data-uk-dropdown="{mode:'click', justify:'content'}">
<button class="uk-button uk-button-mini uk-margin-small-bottom">Privacy</button>
<div id="privacy" class="uk-dropdown uk-text-small uk-text-left" >
  {% include 'privacy.html' %}
</div>
</div>
</div>

<p class="uk-text uk-text-primary uk-text-muted uk-text-small"> {{ openta_version }} </p>
</div>
</div>

{% endblock %}
