{% extends "admin/base_site.html" %}
{% load widget_tweaks %}
{% load i18n l10n admin_urls static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/uikit.min.css" %}" />
{% endblock %}
{% block content %}
<div id="content" class="uk-vertical-align uk-text-center">
  <div class="uk-vertical-align-middle uk-container-center">
    <dl class="uk-text-left uk-description-list-line">
        <dt>Exercises:</dt>
        <dd>
          {% for exercise in exercises %}
          {{ exercise.name }}
          {% endfor %}
        </dd>
        <dt>Not passed:</dt>
        <dd>{{ users.count }}</dd>
        {% if show_users %}
        <dt>Students:</dt>
        <dd>
          {% for user in users %}
          {{ user.username }}
          {% endfor %}
        </dd>
        {% endif %}
    </dl>
    <form method="post" class="uk-form uk-form-stacked">
      {% csrf_token %}
      {% for obj in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
      {% endfor %}
      <input type="hidden" name="action" value="get_not_passed" />
      <input type="hidden" name="post-email-users" value="yes" />
      <input class="uk-button uk-margin-small-top" type="submit" value="{% trans "Send email to users" %}" />
    </form>
  </div>
</div>
{% endblock %}
