{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div id="content" class="uk-vertical-align uk-text-center">
<div class="uk-vertical-align-middle uk-container-center uk-alert uk-alert-primary">
<div id="content2" class="uk-text-left">

{% include "messages.html" %}
<form method="post" class="uk-form uk-form-stacked" novalidate>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name='action' value='save'>{{ _("Save changes") }} </button>
  <button type="submit" name='action' value='cancel'>{{ _("Cancel") }} </button>
</form>
</div>
</div>
</div>
{% endblock %}
