{% if messages %}
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="uk-alert uk-alert-success">{{ message }}</div>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="uk-alert uk-alert-danger uk-alert-close" uk-close>{{ message }}</div>
  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <div class="uk-alert uk-alert-warning">{{ message }}</div>
  {% else %}
    <div class="uk-alert">{{ message }}</div>
  {% endif %}
  {% endfor %}
{% endif %}
