<h2>Privacy</h2>
<h3>What we collect</h3>
OpenTA collects information about how the students and teachers interact with the material on the site. This consists of answers to questions, images and/or pdf of solutions uploaded by students, audits and feedback of students answers by teachers. 

OpenTA also stores the activity of teachers and the history of exercise definitions.

<h3>How we use the information</h3>
All information is stored with the purpose of enhancing the learning experience for students and teachers. The answer history is used to give the teacher a better understanding of what the students struggle with.  This information is only available to those directly involved in teaching the course.

Completely anonymized data consisting of answer history and possibly course grade may be used to study the relation between OpenTA activity and course outcome. 

<h3>Data retention policy</h3>
You can at any time delete your account by sending a request to the course examiner. This will delete all associated data including your answers, audits and other material. 
