{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div id="content" class="uk-vertical-align uk-text-center">
<div class="uk-vertical-align-middle uk-container-center">
  <h3 class="uk-text  uk-text-primary  uk-text-large uk-align-center uk-width-2-3"> Register with an email to which verification will be sent. Your email will become  your username and your answers from the current session will be transferred. </h3>
  <h1>{{ course.course_name }}</h1>
  {% if allow_anonymous %}
  <h3>{{ anonymoususer }} </h3>
  {% endif %}
  {% if domains != None and domains != "\\.*" %}
  <div class="uk-alert uk-alert-success">
    {{ _("Valid domains: ") }}
    {{ domains|join:" or "}}
  </div>
  {% endif %}
<form method="post" class="uk-form uk-form-stacked">
{% csrf_token %}
{% for field in form %}
    <div class="uk-form-row">
        {% for error in field.errors %}
        <div class="uk-alert uk-alert-danger">{{ error | escape }}</div>
        {% endfor %}
        <label class="uk-form-label"  for={{ field.id_for_label }}> {{ field.label }}         
	{% if field.help_text %}
        	<i class="uk-icon uk-icon-question-circle" data-uk-tooltip title="{{ field.help_text|safe }}"></i>
        {% endif %}
</label>

        <div class="uk-form-controls"> {{ field }}</div>
    </div>
{% endfor %}
{% trans "Send verification email" as register %}
<input class="uk-button uk-margin-top uk-button-standard" type="submit" value="{{register}}" />
</form>
</div>
</div>

{% endblock %}
