.CodeMirror {
  height: 80vh;
}

.exercise-menu {
  border-right:1px solid #929292
}

.ta-nav {
  background-color: #eeeeee
}

.exercise-thumb-nav {
  -webkit-backface-visibility: hidden;
  height: 80px;
  max-width: 100px;
}

