{% load static %}
{% load staticfiles %}
{% load hijack_tags %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <title>OpenTA</title>
  <link rel="stylesheet" href="{% static "css/uikit.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "app.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "katex/katex.min.css" %}">
  <link rel="stylesheet" href="{% static "css/components/tooltip.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/components/sticky.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/components/notify.min.css" %}" />

  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/uikit.js" %}"></script>
  <script src="{% static "js/components/lightbox.js" %}"></script>
  <script src="{% static "js/components/tooltip.min.js" %}"></script>
  <script src="{% static "js/components/notify.min.js" %}"></script>
  <script src="{% static "js/components/sticky.min.js" %}"></script>
  <script src="{% static "app.js" %}"></script>
  <script>require('initialize');</script>
  {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css"> #}
  {# <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script> #}
  <script src="{% static "katex/katex.min.js" %}"></script>
  <script src="{% static "js/auto-render.min.js" %}"></script>
  <script src="{% static "js/ASCIIMathTeXImg.js" %}"></script>
</head>
<body>
{% hijack_notification %}
  <div id="app"></div>
</body>
</html>
