{% load static %}
{% load hijack_tags %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=3, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <title>{{ course.course_name|default_if_none:"OpenTA" }}</title>
  <link rel="stylesheet" href="{% static "css/uikit.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "app.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "katex/katex.min.css" %}">
  <link rel="stylesheet" href="{% static "css/components/tooltip.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/components/sticky.min.css" %}" />
  <link rel="stylesheet" href="{% static "css/components/notify.min.css" %}" />
  <link rel="icon" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}"/>
  <link rel="icon" sizes="192x192" href="{% static "icons/favicon-192x192.png" %}" />
  <link rel="icon" href="{% static "icons/favicon.ico" %}"/>
  <link rel="apple-touch-icon-precomposed" href="{% static "icons/apple.png" %}" />


  <script>
    var globalInit = {
      coursePk: parseInt("{{ course.pk }}"),
      timezone: "{{ timezone }}"
    };
  </script>
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/uikit.js" %}"></script>
  <script src="{% static "js/components/lightbox.js" %}"></script>
  <script src="{% static "js/components/tooltip.min.js" %}"></script>
  <script src="{% static "js/components/notify.min.js" %}"></script>
  <script src="{% static "js/components/sticky.min.js" %}"></script>
  <script src="{% static "app.js" %}"></script>
  <script>require('initialize');</script>
  <script src="{% static "katex/katex.min.js" %}"></script>
  <script src="{% static "js/auto-render.min.js" %}"></script>
  <script src="{% static "js/ASCIIMathTeXImg.js" %}"></script>
</head>
<body>
  {% hijack_notification %}
  <div id="app"></div>
  {% if messages %}
    {% for message in messages %}
    <script>
      alert('{{ message }}')
    </script>
    {% endfor %}
  {% endif %}
</body>
</html>
