{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div id="content" class="uk-vertical-align uk-text-center">
<div class="uk-vertical-align-middle uk-container-center">

<form method="post" class="uk-form uk-form-stacked" enctype="multipart/form-data">
{% csrf_token %}
{% for field in form %}
    <div class="uk-form-row">
        {% for error in field.errors %}
        <div class="uk-alert uk-alert-danger">{{ error | escape }}</div>
        {% endfor %}
        <label class="uk-form-label" for={{ field.id_for_label }}> {{ field.label }}         {% if field.help_text %}
        <i class="uk-icon uk-icon-question-circle" data-uk-tooltip title="{{ field.help_text|safe }}"></i>
        {% endif %}
</label>

        <div class="uk-form-controls">
          {{ field }}
        </div>
    </div>
{% endfor %}
<input class="uk-button uk-margin-small-top" type="submit" value="{% trans "Process" %}" />
</form>

{% include "messages.html" %}

{% if users %}
<div class="uk-alert uk-alert-succcess">
  {% trans "User list processed successfully, you can review below before committing the changes."%}
</div>
<form method="post" class="uk-form uk-form-stacked">
{% csrf_token %}
<input class="uk-button uk-button-success" type="submit" name="adduser" value="{% trans "Add users" %}" />
</form>
{% endif %}

{% if users %}
  <table class="uk-table">
  <thead>
    <tr>
      <th>{% trans "First"%}</th><th>{% trans "Last" %}</th><th>{% trans "Email" %}</th><th>{% trans "Username" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
  <tr><td>{{user.First_name}}</td><td>{{user.Last_name}}</td><td>{{user.E_mail_address}}</td><td>{{user.Username}}</td></tr>
  {% endfor %}
  </tbody>
  </table>
{% endif %}
</div>
</div>

{% endblock %}
