{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div id="content" class="uk-vertical-align uk-text-center">
<div class="uk-vertical-align-middle uk-container-center">

  {% if domains != None %}
  <div class="uk-alert uk-alert-success">
    {{ _("Valid domains: ") }}
    {{ domains|join:" or "}}
  </div>
  {% endif %}
<form method="post" class="uk-form uk-form-stacked">
{% csrf_token %}
{% for field in form %}
    <div class="uk-form-row">
        {% for error in field.errors %}
        <div class="uk-alert uk-alert-danger">{{ error | escape }}</div>
        {% endfor %}
        <label class="uk-form-label" for={{ field.id_for_label }}> {{ field.label }}         {% if field.help_text %}
        <i class="uk-icon uk-icon-question-circle" data-uk-tooltip title="{{ field.help_text|safe }}"></i>
        {% endif %}
</label>

        <div class="uk-form-controls"> {{ field }}</div>
    </div>
{% endfor %}
{% trans "Register" as register %}
<input class="uk-button uk-margin-top" type="submit" value="{{register}}" />
</form>
</div>
</div>

{% endblock %}
