**/env-*
**/*.asc
frontend
conf
docs_src
**/.envrc
**/old
**/env
**/venv-*
**/node_modules
**/__pycache__
**/_pyc
exercises
docker-*
presentation
*.out
docker_deploy
docker-build
#**/*.key
**/*key*.json
**/db.sqlite3*
**/*.sock
**/emailsettings.txt
django/backend/deploystatic.*
/database
**/*.out 
**/bak
**/settings_private.py
**/google_auth_string.txt
