{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div id="content" class="uk-vertical-align uk-text-center">
  <div class="uk-vertical-align-middle uk-container-center">
    {% if validlink %}
    <form method="post" class="uk-form uk-form-stacked">
      {% csrf_token %}
      {% for field in form %}
      <div class="uk-form-row">
        {% for error in field.errors %}
        <div class="uk-alert uk-alert-danger">{{ error | escape }}</div>
        {% endfor %}
        {% if field.help_text %}
        <div class="uk-alert uk-text-left"><p class="help">{{ field.help_text|safe }}</p></div>
        {% endif %}
        <label class="uk-form-label" for={{ field.id_for_label }}> {{ field.label }} </label>
        <div class="uk-form-controls"> {{ field }}</div>
      </div>
      {% endfor %}
      <input class="uk-button uk-margin-small-top" type="submit" value="{% trans "Set password" %}" />
    </form>
    {% else %}
      {% trans "This reset link is no longer valid." %}
    {% endif %}
  </div>
</div>
{% endblock %}
