**/env
**/env-*
**/venv-*
**/.env
**/.venv
**/*.asc
**/.envrc
docs_src
.git
frontend
conf
**/node_modules
**/__pycache__
**/_pyc
exercises
docker_deploy
docker-build
#**/*.key
**/*key*.json
**/db.sqlite3*
**/*.sock
**/settings_local.py
**/emailsettings.txt
**/deploystatic.*
