{% load url from compat %}
{% load i18n %}

<div id="hijacked-warning" class="hijacked-warning hijacked-warning-default uk-alert uk-alert-warning uk-margin-remove">
  <div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-margin-right">
      Logged in as other user
    </div>
    <form style="display:inline" action="{% url 'release_hijack' %}" method="POST">
      {% csrf_token %}
      <button class="uk-button uk-button-primary uk-button-mini">{% blocktrans with user=request.user %}release {{ user }}{% endblocktrans %}</button>
    </form>
    <form style="display:inline" action="{% url 'disable_hijack_warning' %}?next={{ request.path }}" method="POST">
      {% csrf_token %}
      <button type="submit" class="uk-button uk-button-danger uk-button-mini uk-margin-small-left">{% trans "hide" %}</button>
    </form>
  </div>
</div>
